{% assign product = all_products[handle] %}
<div data-hotspot-id="hotspot-{{data_page_index}}-{{data_hotspot_index}}"
    class="custom-popover hidden  bg-white p-4 border border-gray-200 rounded shadow-lg opacity-100 transition-opacity duration-300 pointer-events-none">
    {% if product %}
    <h3 class="text-lg font-semibold text-gray-800">{{ product.title }}</h3>
    <p class="text-sm text-gray-600">{{ product.description | truncatewords: 10 }}</p>
    <p class="text-sm text-gray-800 mt-2">${{ product.price | money }}</p>

    <form action="/cart/add" method="post" class="mt-4" id="add-to-cart-form-{{ data_hotspot_index }}">
        <!-- Variant selection dropdown (if multiple variants) -->
        {% if product.variants.size > 1 %}
        <select name="id" class="variant-select pointer-events-auto cursor-pointer w-full p-2 border rounded mt-2">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
        </select>
        {% else %}
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        {% endif %}
        <button type="button"
            class="add-to-cart-btn pointer-events-auto cursor-pointer bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition mt-4">
            Add to Cart
        </button>
    </form>
    {% else %}
    <p class="text-sm text-gray-500">Product not found</p>
    {% endif %}
</div>