{{ 'https://cdn.tailwindcss.com' | script_tag }}


{{ 'main.css' | asset_url | stylesheet_tag }}
{% assign pdfMetafields = shop.metafields.PDF %}
{% assign pdfMetafield = pdfMetafields[block.settings.metafield_key] %}
{% assign pdfData = pdfMetafield.value | parse_json %}
{% assign array_length = pdfData.images | size %}
{% assign images = pdfData.images %}
{% assign points = images.points %}

{% for image in images %}
{% assign pageIndex = forloop.index | minus: 1 %}
{% for point in image.points %}
{% assign hotSpotIndex = forloop.index %}
{% comment %} {{point.handle}} {% endcomment %}
{% render 'tooltip', data_page_index: pageIndex, data_hotspot_index:hotSpotIndex,
handle:point.handle %}
{% endfor %}
{% endfor %}

{%- style -%}
  .section-{{ block.id }}-padding {
    padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ block.id }}-padding {
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="relative">
    <div class="pdf-main-container section-{{ block.id }}-padding relative">
        <div class="pdf-body-wrapper">
            <div class="title-wrapper">
                <h2 class="inline-richtext h1 scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
                    {{ pdfData.pdfName }}
                  </h2>
            </div>
            <div class="book">
                <div class="page">

                    <div class="front cover">
                        {{ pdfData.pdfName }}
                    </div>
                    <div class="back">
                        <img src="{{ pdfData.images[0].url }}" alt="Img 1">
                        {% assign points = pdfData.images[0].points %}

                        {% for point in points %}
                        <div data-id="hotspot-0-{{forloop.index}}"
                            class="custom-hotspot points absolute z-[999] top-[{{point.y | divided_by: 2 | abs}}px] left-[{{point.x |  divided_by: 2}}px] ">
                            <p class="h-7 w-7 bg-[{{point.color}}] rounded-full flex items-center justify-center">
                                <span class="h-4 w-4 rounded-full bg-white"></span>
                            </p>
                        </div>

                        {% endfor %}
                    </div>


                </div>

                {% assign index = 1 %}

                {% for x in (1..array_length) %}

                {% assign nextIndex = index | plus: 1 %}

                <div class="page">

                    <div class="front relative">
                        {% if index < array_length %} <img src="{{ pdfData.images[index].url }}" alt="Img {{ index }}">
                            {% assign points = pdfData.images[index].points %}

                            {% for point in points %}

                            <div data-id="hotspot-{{index}}-{{forloop.index}}"
                                class="points absolute z-[999] top-[{{point.y | divided_by: 4 | abs}}px] left-[{{point.x |  divided_by: 4 | abs}}px] ">
                                <p class="h-7 w-7 bg-[{{point.color}}] rounded-full flex items-center justify-center">
                                    <span class="h-4 w-4 rounded-full bg-white"></span>
                                </p>
                            </div>
                            {% endfor %}

                            {% else %}

                            <img src="https://i.pinimg.com/736x/bd/06/62/bd06625e8321081fd66ad0f333a35615.jpg" alt="Pdf">
                            {% endif %}
                    </div>

                    {% if nextIndex >= array_length %}

                    <div class="back cover">
                        <p>Back COver</p>
                    </div>
                    {% break %}
                    {% endif %}

                    <div class="back">
                        <img src="{{ pdfData.images[nextIndex].url }}" alt="Img {{ index }}">
                        {% assign points = pdfData.images[nextIndex].points %}

                        {% for point in points %}
                        <div data-id="hotspot-{{nextIndex}}-{{forloop.index}}"
                            class="absolute points z-[999] top-[{{point.y | divided_by: 2 | abs}}px] left-[{{point.x |  divided_by: 2 | abs}}px] ">
                            <p class="h-7 w-7 bg-[{{point.color}}] rounded-full flex items-center justify-center">
                                <span class="h-4 w-4 rounded-full bg-white"></span>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% assign index = nextIndex | plus:1 %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% comment %} arrow buttons for book turn {% endcomment %}
    <button class="book-prev-next prev border py-2 px-4 rounded-sm shadow-lg bg-white text-black">
        <div class="flex items-center gap-1">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5303 5.46967C10.8232 5.76256 10.8232 6.23744 10.5303 6.53033L5.81066 11.25H20C20.4142 11.25 20.75 11.5858 20.75 12C20.75 12.4142 20.4142 12.75 20 12.75H5.81066L10.5303 17.4697C10.8232 17.7626 10.8232 18.2374 10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303L3.46967 12.5303C3.17678 12.2374 3.17678 11.7626 3.46967 11.4697L9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967Z" fill="#1C274C"></path> </g></svg> 
            <span>prev</span>
        </div>
    </button>
    <button class="book-prev-next next border py-2 px-4 rounded-sm shadow-lg bg-white text-black">
        <div class="flex items-center gap-1">
            <span>next</span>
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </div>
    </button>
</div>


<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
"name": "PDF-CONVERTER",
"class": "section",
"target": "section",
"settings": [
{
"type": "text",
"id": "metafield_key",
"label": "PDF KEY",
"default": "PDF KEY"
},
{
    "type": "header",
    "content": "Section padding"
  },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding bottom",
      "default": 36
    }
]
}
{% endschema %}