{{ 'https://cdn.tailwindcss.com' | script_tag }}

<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

{{ 'main.css' | asset_url | stylesheet_tag }}
{% assign pdfMetafields = shop.metafields.PDF %}
{% assign pdfMetafield = pdfMetafields[block.settings.metafield_key] %}
{% assign pdfData = pdfMetafield.value | parse_json %}
{% assign array_length = pdfData.images | size %}
{{ array_length }}
{% assign images = pdfData.images %}
{% assign points = images.points %}

{% for image in images %}
{% assign pageIndex = forloop.index | minus: 1 %}
{% for point in image.points %}
{% assign hotSpotIndex = forloop.index %}
{% comment %} {{point.handle}} {% endcomment %}
{% render 'tooltip', data_page_index: pageIndex, data_hotspot_index:hotSpotIndex,
handle:point.handle %}
{% endfor %}
{% endfor %}


<p>Hello back</p>

<button class="prev border py-2 px-4 rounded-sm shadow-lg bg-black text-white">Previous</button>
<button class="next border py-2 px-4 rounded-sm shadow-lg bg-transparent text-black">Next</button>
<div class="body">
    <div class="book">
        <div class="page">

            <div class="front cover">
                {{ pdfData.pdfName }}
            </div>
            <div class="back">
                <img src="{{ pdfData.images[0].url }}" alt="Img 1">
                {% assign points = pdfData.images[0].points %}

                {% for point in points %}
                <div data-id="hotspot-0-{{forloop.index}}"
                    class="custom-hotspot points absolute z-[999] top-[{{point.y | divided_by: 2 | abs}}px] left-[{{point.x |  divided_by: 2}}px] ">
                    <p class="h-7 w-7 bg-[{{point.color}}] rounded-full flex items-center justify-center">
                        <span class="h-4 w-4 rounded-full bg-white"></span>
                    </p>
                </div>

                {% endfor %}
            </div>


        </div>

        {% assign index = 1 %}

        {% for x in (1..array_length) %}

        {% assign nextIndex = index | plus: 1 %}

        <div class="page">

            <div class="front relative">
                {% if index < array_length %} <img src="{{ pdfData.images[index].url }}" alt="Img {{ index }}">
                    {% assign points = pdfData.images[index].points %}

                    {% for point in points %}

                    <div data-id="hotspot-{{index}}-{{forloop.index}}"
                        class="points absolute z-[999] top-[{{point.y | divided_by: 4 | abs}}px] left-[{{point.x |  divided_by: 4 | abs}}px] ">
                        <p class="h-7 w-7 bg-[{{point.color}}] rounded-full flex items-center justify-center">
                            <span class="h-4 w-4 rounded-full bg-white"></span>
                        </p>
                    </div>
                    {% endfor %}

                    {% else %}

                    <img src="https://i.pinimg.com/736x/bd/06/62/bd06625e8321081fd66ad0f333a35615.jpg" alt="Pdf">
                    {% endif %}
            </div>

            {% if nextIndex >= array_length %}

            <div class="back cover">
                <p>Back COver</p>
            </div>
            {% break %}
            {% endif %}

            <div class="back">
                <img src="{{ pdfData.images[nextIndex].url }}" alt="Img {{ index }}">
                {% assign points = pdfData.images[nextIndex].points %}

                {% for point in points %}
                <div data-id="hotspot-{{nextIndex}}-{{forloop.index}}"
                    class="absolute points z-[999] top-[{{point.y | divided_by: 2 | abs}}px] left-[{{point.x |  divided_by: 2 | abs}}px] ">
                    <p class="h-7 w-7 bg-[{{point.color}}] rounded-full flex items-center justify-center">
                        <span class="h-4 w-4 rounded-full bg-white"></span>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% assign index = nextIndex | plus:1 %}
        {% endfor %}
    </div>

</div>

<script src="../assets/js/main.js"></script>

{% schema %}
{
"name": "PDF-CONVERTER",
"target": "section",
"settings": [
{
"type": "text",
"id": "metafield_key",
"label": "PDF KEY",
"default": "PDF KEY"
}
]
}
{% endschema %}