<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
{{ 'main.css' | asset_url | stylesheet_tag }}
{% assign pdfMetafields = shop.metafields.PDF %}

{% assign pdfMetafield = pdfMetafields.block.settings.metafield_key %}
{% assign pdfData = pdfMetafield.value | parse_json %}
{% assign images = pdfData.images %}

{% for image in pdfData.images %}
{% comment %} {{ image }} {% endcomment %}

{% comment %} <br> {% endcomment %}
{% for points in image.points %}
{% comment %} {{ points }} {% endcomment %}
{% endfor %}
{% endfor %}


<h1>

    KEys:
    {{ block.settings.metafield_key }}
</h1>
<div class="body">
    <div class="book">
        {% for key in pdfMetafields %}
        {% assign pdfMetafield = pdfMetafields[key[0]] %}
        {% assign pdfData = pdfMetafield.value | parse_json %}
        <div class="page">
            <div class="front cover">
                {{ pdfData.pdfName }}
            </div>
            <div class="back">
                <img src="https://i.pinimg.com/originals/8e/4a/24/8e4a24a655d3a7ff7a364d7496dd0d38.jpg" alt="Img 1">
            </div>
        </div>


        {% for image in pdfData.images %}

        <div class="page">
            <div class="front">
                <img src="{{image.url}}" alt="Img 1">
            </div>
            <div class="back">
                <img src="{{image.url}}" alt="Img 1">
            </div>
        </div>

        {% endfor %}

        <div class="page">
            <div class="front">
                <img src="https://picsum.photos/id/1073/600/600" alt="Img 2">
            </div>
            <div class="back cover">
                <p>
                    <small>Book Flip</small>
                </p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<script src="../assets/js/main.js"></>


        {% schema %}
    {
        "name": "PDF-CONVERTER",
            "target": "section",
                "settings": [
                    {
                        "type": "text",
                        "id": "metafield_key",
                        "label": "PDF KEY",
                        "default": "PDF KEY"
                    }
                ]
    }
    {% endschema %}