<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
{{ 'main.css' | asset_url | stylesheet_tag }}
{% assign pdfMetafields = shop.metafields.PDF %}
{% assign pdfMetafield = pdfMetafields[block.settings.metafield_key] %}
{% assign pdfData = pdfMetafield.value | parse_json %}
{% assign array_length = pdfData.images | size | minus: 1%}
{{ array_length }}

<p>Hello back</p>

<div class="body">
    <div class="book">
        <div class="page">
            <div class="front cover">
                {{ pdfData.pdfName }}
            </div>
            <div class="back">
                <img src="{{ pdfData.images[0].url }}" alt="Img 1">
            </div>
        </div>

        {% assign index = 1 %}

        {% for x in (1..array_length) %}

        {% assign nextIndex = index | plus: 1 %}

        <div class="page">
            <div class="front">
                {% if index < array_length %} <img src="{{ pdfData.images[index].url }}" alt="Img {{ index }}">
                    {% else %}
                    <img src="https://png.pngtree.com/png-vector/20220606/ourmid/pngtree-pdf-file-icon-png-png-image_4899509.png"
                        alt="Pdf">
                    {% endif %}
            </div>

            {% if nextIndex >= array_length %}

            <div class="back cover">
                <p>Back COver</p>
            </div>
            {% break %}
            {% endif %}

            <div class="back">
                <img src="{{ pdfData.images[nextIndex].url }}" alt="Img {{ index }}">
            </div>


        </div>
        {% assign index = nextIndex | plus:1 %}
        {% endfor %}




    </div>

</div>

<script src="../assets/js/main.js"></script>

{% schema %}
{
"name": "PDF-CONVERTER",
"target": "section",
"settings": [
{
"type": "text",
"id": "metafield_key",
"label": "PDF KEY",
"default": "PDF KEY"
}
]
}
{% endschema %}